.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
.details {
  width: 28rem;
}
@media (max-width: 767px) {
  .details {
    width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-list {
  color: red;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  color: #999;
}
