.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.details {
  width: 28rem;
}
@media (max-width: 767) {
  .details {
    width: 100%;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
